/.buildpath
/.project
/.settings
/composer.phar
/protected/all/config/core.php
/protected/all/config/user.php
/repository/cache/core
/repository/files
/repository/local.sqlite
/repository/tmp/*.*
/repository/thumbnailer
/repository/vars/*
/vendor