/* CSS used by the home page, overriding the CSS used by other pages */

.hero-unit {
	min-height: 0;
	font-weight: normal;
}

.hero-unit h1 {
	margin-top: 0;
}

.hero-unit p:last-child {
	margin-bottom: 0;
}

h2 {
	font-size: 30px;
	border-bottom: 1px solid #ccc;
}